FEATHERLESS_API_KEY=your_featherless_key_here
TINYFISH_API_KEY=your_tinyfish_key_here
# Register a free key at https://clinicaltrialsapi.cancer.gov/ and paste it here.
NCI_API_KEY=your_nci_cts_key_here
